*{
    margin: 0;
}

.headings{
    font-size: 4em;
}

.show{
    background: url(../assets/key.jpg);
    background-position: center center;
    background-size: cover;
    max-height: 90%;
    margin: 0px;
    padding: 0px 0px;
    opacity: 0.9;
}
.welcomes{
    background: url(../assets/desk2.jpg);
    background-position: center center;
    background-size: cover;
    max-height: 90%;
    padding: 0px 20px;
    color: #c93991;
    opacity: 0.9;
}

.about {
    background: url(../assets/yellow.jpg);
    background-position: center bottom;
    background-size: cover;
    max-height: 90%;
    padding: 0px 20px;
    opacity: 0.8;
  }
.showcase{
    display: flex;
    justify-content: space-between;
    .img{
        width: 45%;
    }
}
.loading-indicator {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin: 0 5px;
  }
  
  .loading-indicator.loading {
    border-color: #3498db;
    animation: border-spin 1s linear infinite;
  }
  

  .bg-img{
    background: url(../assets/community.jpg);
    background-position: center top;
    background-size: cover;
    padding: 20px;
    @media (max-width: 1024px) {
        padding: 10px;
    }
}
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .lastflex{
    color: #91812b;
    p{
        &:hover{
            text-decoration: underline;
        }
    }
  }

  .packages{

    align-items: flex-end;
  }

@media (max-width: 1024px) {

    .show{
        margin: 5px 0px;
        max-height: 400px;
        align-items: center;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        h1{
            font-size: 2.4em;
            line-height: 1.2;
        }
    }
    .quote{
        background: url(../assets/scatter.jpg);
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .showcase{
        display: block;
        margin: 0px;

        .img{
            width: 90%;
        }
        h1{
            font-size: 2.4em;
        }
        p{
            margin-top: 5px;
            font-size: 1em;
        }
    }
    .service{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 5px;

    }
    .footer{
        padding: 0px;
        flex-wrap: wrap;
        .logo, .subscribe, .info{
            padding: 0px;
            margin-bottom: 3rem;
        }
        
    }
    .lastflex{
        p{
            font-size: 12px;
            &:hover{
                text-decoration: underline;
            }
        }
      }

    
  }
