

.mochiy {
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  padding: 0px;
  margin: 0px;
}
#root{
  margin: 0 0.6rem;
  padding: 0.6rem;
  font-family: "montserrat";
}


@media (max-width: 1024px) {
  #root {
    padding: 0rem;
  }
}